/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 29, 2018, 9:44:14 AM
    Author     : Моргунов Виталий
*/

/* Страницы рубрик курсов - кривизна полная */
.mega_info_box .mega-info-title{
    font-weight: $font-weight-bold-heading!important;
}

/*Страница Все курсы */
/* скрываем ярлык Рубрики */
.buddyboss-select label,
#ld_course_categorydropdown label {
    display: none;
}
/* стилизуем селект выбора категорий и рубрик курсов */
.buddyboss-select{
    width: 100%;
    margin: 20px auto;
}

/* Селект выбора категорий в списке курсов и профилях BuddyPress? */
.buddyboss-select-inner, 
selected-tab {
    height: 40px;
    width: 100%;
    clear: both;
    padding: 0;
    margin: 0;
    font-size: 15px;
    position: relative;
    line-height: 22px;
    display: block;
    background-color: transparent;
    color: $main_color;
    text-transform: uppercase;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 2px solid $main_color;
    box-sizing: border-box;
}

/**
* Стили выделенного текста в описании курсов Уроков и Тем
*/
.lms-post-content b,
.lms-post-content strong {
    font-size: inherit;
    margin-bottom: 26px;
    line-height: 1.7;
    text-align: left;
    font-weight: $font-weight-bold-main;
}

.mv_acc_info span.vc_tta-title-text {
    font-size: 16px;
    letter-spacing: normal;
    line-height: 25px;
}
.mv_acc_info p{
    color: #fff;
    font-size: 14px;
}

/**
*   Карточки курса
*/

/*кастомная карточка курса - на основе Grid Builder */
.mv-course-excerpt{
    max-height: 250px;
    overflow: hidden;   
    height: 250px;
    padding: 10px 15px;
    }
.mv-course-excerpt p a{    
    font-size: 13px;
    }
@media screen and (max-width: 1024px){
    .mv-course-excerpt a{    
    font-size: 80%;
}
}
/**
* Скрываем автора курса
*/
.sensei-course-meta .course-author {
    display: none;
}
/* Скрываем аватар автора на карточке курса при наведении  */
.course-overlay img.avatar {
    display: none;
}
/* класс группы курса в теге body .groups */

/* Скрываем таб Курс в навигации группы курса */
.groups.single-item #object-nav li#nav-experiences-groups-li {
    display: none;
}
/* Скрываем таб Главная в навигации главной стриницы курса */ 
.single.single-sfwd-courses li#home-groups-li {
    display: none;
}
/* Скрываем из виджета учитель курса все кроме кнопки пеерхода на главную страницу курса */
.widget_course_teacher header {
    display: none;
}

/* Настраиваем высоту миниатюры курса в карточке курса */
.course-image{
    max-height: 187px;
}


/* класс главной страницы курса в теге body .groups .single-sfwd-courses */

/* Меняем оформление виджета Курс прогресс  */
.widget_sensei_course_progress header, #my-courses .meter > span,
.widget_course_progress .widgettitle,
.widget-area .widget.widget_course_progress .course-lessons-widgets > header,
.widget_course_progress .course_stats {
    background-color: #ffffff;
}
/* Название курса виджета Курс прогресс */
.widget-area .widget.widget_course_progress h3 a,
.widget_course_progress .widgettitle {
    color: $main_link_color;
}

/* Статистика прогресса виджета Курс прогресс */
.widget_course_progress .course-completion-rate,
.widget-area .widget.widget_course_progress .percent,
.widget-area .widget.widget_course_progress h3{
   color: $main_text_color; 
}
/* Исправляем кривые стрелочки в перечне тем и уроков в виджете Курс прогресс */
.list_arrow .fa {
    top: 0px;
    left: 0px;
}
.bb-lesson-list-item .list_arrow {
    height: 25px;
    width: 25px;
} 
/* Исправляем кривые стрелочки в перечне тем и уроков в виджете Курс прогресс */
/* Скрываем информацию о курсе */
.widget-area footer h4,
.widget-area footer p:not(.bp-group-discussion){
    display:none;
}

.widget_course_progress footer span,
.widget_course_progress footer img.avatar {
    display: none;
}

/* Курс Cетка курсов Course grid попытка выравнить размер карточки */
.course-flexible-area header h2 {
    min-height : 80px;
    font-weight: bold;
    max-height: 80px;
    overflow: hidden;
}
/*a.course-cover-image img {
    max-height: 187px;
}*/
.caption {
    min-height: 90px;
}
/* / Курс Cетка курсов Course grid попытка выравнить размер карточки */

/* LearnDash  кнопка Подробнее карточки курса */
#course-details #btn-join, #learndash_course_certificate,
.sfwd-courses a.button,
.sfwd-lessons a.button,
.type-sfwd-courses a.button,
.type-sfwd-lessons a.button{
    @include mix-button-alternative;
    &:hover{
        @include mix-button-alternative-hover;  
    }
}
/* Цвет ленточки статуса на карточке курса */
.course-inner .price {
    background: $main_color; /* !important */
}

/* Заголовок название курса карточки курса */
.ld-course-list-content h2 a {
    font-size: 20px;
    letter-spacing: -1px;
    font-weight: $font-weight-bold-heading;
}

/* Статус прохождения курса */
#learndash_course_status{
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
    font-weight: $font-weight-bold-main;
    border: none;
    background-color: none; /* !important */
    border-color: $footer_bottom_color; /* !important */
    color: $footer_bottom_color;
}

/**
*   Главная страница курса
*/

/* Страница курса - мииатюра курса */
.single-sfwd-courses .course-header .image img {
    border: none;
}

/* Скрываем кнопку Группа курса внизу и в виджете */
p.bp-group-discussion {
    /*    display: none;*/
}

/* Кнопка начать xAPI урок-презентацию  */
a.nivo_iframe {
    color: #373838;
    background-color: #fecf01;
    padding: 20px 40px;
    border-radius: 50px;
    &:hover{
        color: #373838; 
        background-color: #e8bd01;
    }
}
/*a.nivo_iframe {
    color: $alternative_button_text_color;
    background-color: $alternative_button_color;
    padding: 10px 40px;
    border-radius: 5px;
    &:hover{
        color: $alternative_button_hover_text_color; 
        background-color: $alternative_button_hover_color;
    }
}*/

/*  Главная страница курса Переключатели Развернуть все Свернуть все  */
.expand_collapse a {
    color: $main_table_header_link_color;
    &:hover {
        color:$main_table_header_link_hover_color;
        opacity: 0.65;
    }
}


/* Цвета стрелок в таблице описания курса  */
#learndash_profile #course_list>div>div{
    color: $main_color;
}

/* Цвет полосы прогресса в таблице описания курсов */
dd.course_progress div.course_progress_blue{
    background-color: $main_color;
}

/* цвет заглавных строк таблиц learnDash списка курсов */
/* прогресс курса*/
#learndash_profile .learndash_profile_heading.course_overview_heading {
    /* background-color: #d5fbe2; */
    /*    background-color: #7ed9b2; 
    color: white;*/
    @include mixtable-head;
    font-weight: bold;

}
/* результаты тестов */
.learndash_profile_quizzes>.learndash_profile_quiz_heading>div {
    background-color: $alternative_table_header_color; /* #efefef; */
}


/* Курс метки рубрик на странице курса */

ul.post-categories a::before {
    @include mixfont-family-icon;
    content: '\f02c';
    margin-right: 5px;
}

/* стилизуем кнопку отправить сообщение учителю  */
a.button.send-message-button {

    @include mix-button-alternative;
    &:hover{
        @include mix-button-alternative-hover;  
    }
}
/*  Submit Кнопка отправить  */
.widget_course_teacher input[type=submit].boss-edu-send-message-widget{
    @include mix-button-alternative;

    &:hover{
        @include mix-button-alternative-hover;  
    }
}

/**
*   Исправляем размер видеороликов на страницах курса
*/
.wp-video,
.wp-video .wp-video-shortcode mejs-video,
.single-sfwd-lessons .lms-post-content > p + div,
.single-sfwd-lessons .lms-post-content > p + div div.mejs-container {
    width: 100%!important;
}
 
/* Навигация по курсу кнопки "следующий урок тема" Кнопка "вернуться к уроку"  */
#post-entries .nav-next,
#post-entries .nav-prev{
    min-width: 195px;
}

/* на маленьких дисплеях */
@media screen and (max-width: 440px){
    #post-entries .nav-next,
    #post-entries .nav-prev{
        width: 100%;
        text-align: center;
    }
}

a.next-link,
a.prev-link{
    line-height: 45px;    
}

div#learndash_back_to_lesson a,
a.next-link,
a.prev-link{
    background-color: $bright_button_color;
    padding: 10px 30px;
    border-radius: 50px;
    color: $bright_button_text_color;
}

div#learndash_back_to_lesson a:hover,
a.next-link:hover,
a.prev-link:hover{
   background-color: $bright_button_hover_color;
   color: $bright_button_hover_text_color; 
}


/* Icon course or module completed */
#learndash_profile #course_list h4>a.completed:after,
.ld-item .completed:before,
.learndash .completed:before,
.learndash .topic-completed:before {
    color: $green-middle; /* !important */
}

.learndash_profile_quizzes .failed .scores,
.learndash_profile_quizzes .passed .scores {
    color: $green-middle; /* !important */
}

.learndash_profile_quizzes .passed_icon:before {
    color: $green-middle; /* !important */
}

/* Курс значки состояния выполнения курса */
/* Icon course or module notcompleted */
#learndash_profile #course_list h4>a.notcompleted:after,
.ld-item .notcompleted:before,
.learndash .notcompleted:before,
.learndash .topic-notcompleted:before {
    color: $grey-middle; /* $main_color; */
    /*    #2196f3; */
}
#learndash_profile #course_list h4>a.notavailable:after,
.ld-item .notavailable:before,
.learndash .notavailable:before {
    color: $grey-lighter;

}

#learndash_profile #course_list h4>a.in-progress:after,
.ld-item .in-progress:before,
.learndash .in-progress:before,
.learndash .topic-in-progress:before {
    color: $main_color;
    /*    #2196f3;*/
}

/* Курс сайдбар кнопка обсудить курс */
.widget_course_progress footer a.btn,
.widget .my-account .button,
.widget_course_teacher footer a.btn {
    border-color: $main_button_color;
    background-color: $main_button_color;
    line-height: inherit;
    border: none;    
}
.widget_course_progress footer a.btn{
    color: #fff; /* !important */	
}
.bp-group-discussion a.btn.inverse{
    color: #fff; /* !important */	
}

/* виджеты навигация курса надпись итогового теста */
.learndash_navigation_lesson_topics_list {
    margin-top: $font-size-small;
}
/*  иконка  назад в раздел */

.fa-mail-reply:before,
.fa-reply:before {
    content: "\f46d"; /* !important f3e5 */
}

/*  курс заголовки уроков */
#lesson_heading, #learndash_course_materials h4,
#quiz_heading{

    @include mixtable-head;
} 

/*  курс заголовки тем */
#lessons_list .lesson h4,
#lessons_list .lesson.has-topics h4{
    background-color: $alternative_table_header_color; /* !important */
}
#lessons_list .lesson h4 a{
        font-size: 22px;
    }

/* курс границы строк  заголовков уроков*/
#learndash_course_materials h4,
#learndash_lesson_topics_list h2,
#learndash_uploaded_assignments h2,
#learndash_uploaded_assignments table td,
#lesson_heading,
#lessons_list .lesson h4,
#lessons_list .lesson.has-topics h4,
#quiz_heading,
#quiz_list>div:not(:last-child) h4,
.ld-item:not(:last-child),
.learndash_topic_dots.type-list ul li{
    border-bottom: 1px solid $alternative_table_border_color; /* !important */ /* 1px solid #edfaf4;  */

}

/* Цвет ссылок материалов курса */
#learndash_course_materials .materials-content, 
#lessons_list .lesson h4,
#quiz_list>div h4,
.ld-item {
    background-color: #fff; /* !important */  /* #e8ecf2 */
}

/* курс границы строк тем уроков */
#learndash_uploaded_assignments table td,
.learndash_topic_dots.type-list ul li {
    background-color: #fff;
    border-left: 20px solid #edfaee;
    border-bottom: 1px solid #edfaf4;
}

/*  Курс виджет прогресса раздел навигации по курсу меняем цвета стрелок */
#course_navigation .learndash_topic_widget_list .topic-completed:after {
    color: $green-middle; /* !important */ 
    background-color: $green-middle; /* !important */ 
}

/* Полоса прогресса выполнения курса */
dd.course_progress {
    border: none;
    background-color: #fafafa;
    margin-top: 15px;
}
#course-list-wrap dd.course_progress div.course_progress_blue {
    background-color: $main_color;
}
/* курс виджет прогресса полоса прогресса */
.widget dd.course_progress div.course_progress_blue {
    background-color: $main_table_header_color; /* #efc81c; */
}


/* Курс урок кнопка Обсуждение курса */
p.bp-group-discussion a.button{
    /* text-transform: uppercase; */
    /* white-space: nowrap;     */
    border-radius: 50px;
    padding: 10px 30px;
    width: auto;
}

/*  Курс Урок  Список тем заголовок таблицы */
#learndash_lesson_topics_list h2{
    background-color: #edfaee;
    font-weight: $font-weight-bold-heading;
}

/* BuddyPress профиль Все курсы надпись заголовка свернуть все развернуть все */
.bp-user h3 .expand_collapse a{
    color: $main_link_color;
    &:hover{
        color:$main_link_hover_color;        
    }
}

/* xAPI презентация кнопка Отметить завершенным */
#quiz_continue_link,
#sfwd-mark-complete input[type=submit],
#quiz_continue_link, #sfwd-mark-complete input[type=submit],
.single-sfwd-lessons u+table td .button-primary,
input[type=button]:not(.button-small).wpProQuiz_button,
input[type=submit].wpProQuiz_button2{
    border-color: $alternative_button_color;
    color: $alternative_button_color;
    border-radius: 50px;
    padding: 6px 22px;
    &:hover{
        border-color: $alternative_button_hover_color;
        background-color: $alternative_button_hover_color;
        color: $alternative_button_hover_text_color;
        box-shadow: none;
    }
}
/* кнопка показать вопросы теста */
input[type=button]:not(.button-small).wpProQuiz_button[name=reShowQuestion]{
    border-color: $main_button_color!important; /* долбанные разработчики нафигачили !important в своих стилях! */
    color: $main_button_color!important;
    &:hover{
        border-color: $main_button_hover_color!important;
        background-color: $main_button_hover_color!important;
        color: $main_button_hover_text_color!important;
        box-shadow: none;
    }
}
/* Счетчик вопросов */
.wpProQuiz_question_page{
    color: inherit;
}

/* чекбоксы */
.wpProQuiz_questionList input[type=checkbox]:checked+strong:after{
        background-color: $green-light-dark;
}


/* 
* Стилизуем тест
*/
.wpProQuiz_answerCorrect .wpProQuiz_sortStringItem {
    border: 2px solid $green-middle;
}

/* Поле вопроса теста */
.entry-content li.wpProQuiz_listItem{
    background-color: $alternative_table_header_color;
}
/* Внутреннее поле вариантов ответа вопроса */
.wpProQuiz_content .wpProQuiz_questionList{
    background-color: $alternative_table_header_color;
    border: none;
}
/* Поля вариантов ответа */
.wpProQuiz_questionList[data-type=assessment_answer] label, .wpProQuiz_questionList[data-type=multiple] label, .wpProQuiz_questionList[data-type=single] label{
    border: 2px solid #c9c9c9;
    border-radius: 20px;
}


/* Результаты выбора ывопросов Верно Неверно */
.wpProQuiz_response>div{
/*    margin-bottom: 0;*/
}
/* рамка */
.wpProQuiz_content .wpProQuiz_response{
    border-radius: 5px;
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
}

/* фон */
.wpProQuiz_response .wpProQuiz_correct {
    background-color: #35c486;
    border-radius: 5px;
}

.wpProQuiz_response .wpProQuiz_incorrect{
    background-color:#f4524d;
    border-radius: 5px; 
}
/* Текст */
.wpProQuiz_response .wpProQuiz_correct,
.wpProQuiz_response .wpProQuiz_correct p,
.wpProQuiz_response .wpProQuiz_incorrect,
.wpProQuiz_response .wpProQuiz_incorrect p{
    color: #ffffff;
}

/* / Стилизуем тест */

button[disabled],
input[disabled],
textarea[disabled] {
    /*  background-color: #cac5c4;
        color: #9b9797;*/
    opacity: 0.3;
}


/* ??????? стилизуем кнопки в окне сообщений */
a.button.confirm.mv_delete{
    @include mix-button-alternative;
    &:hover{
        @include mix-button-alternative-hover;
    }
}
a.button.mv_reply{
    @include mix-button-main;
    &:hover{
        @include mix-button-main-hover;
    }
}

/**
* 
* Курс landing page посадочная страница курса 
*
*/

/* кнопка записаться на курс */
a#btn-join,
a#btn-join:visited {
    color: $bright_button_text_color;
    background-color: $bright_button_color;
    padding: 15px 35px;
    border-radius: 50px;
    line-height: inherit;
}
a#btn-join:hover,
a#btn-join:focus,
a#btn-join:active
 {
  color: $bright_button_hover_text_color;
  background-color: $bright_button_hover_color;
}


/* Элементы пагинации уроков/тем  */
.learndash_nevigation_lesson_topics_list>div.learndash-pager {
    display: flex;
}

/**
* TinCan reporting стилизация вывода отчетов 
*/
/* Блок вывода отчета - для мобильных экранов */
@media (max-width: 768px){
    .uo-tclr-admin.uo-admin-reporting {
        width: auto;
    }
    .uo-admin-reporting-tabgroup .uo-admin-reporting-tab-single{
        padding: 20px 5px;
    }
}
/* дашборда - вывод диаграм */
.uo-reporting-dashboard-container {
    display: flex;
    flex-wrap: wrap;
}
/* блок вывода инфовиджетов дашборда */
.reporting-dashboard-col-container{
    flex: 1 1 300px; 
}

/* Стилизация вкладок отчетов */
ul.uo-admin-reporting-tabs.clearfix {
    margin: 0;
}
.uo-admin-reporting-tabs li {
    width: auto;
    max-width: 180px;
    padding: 0;
    margin: 0 15px 0 0!important;
}

.uo-admin-reporting-tabs li a {
    padding: 15px 10px;
}

/* Плавающий блок выбора групп */
.uo-tclr-admin.uo-admin-reporting > div {
   position: inherit!important;
   /* right: 115px!important;
     top: 80px;
     min-width: 350px; */ 
}
.uo-tclr-admin.uo-admin-reporting form{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    flex-wrap:nowrap;
    align-items: center;
}
/* селект групп */
.uo-tclr-admin.uo-admin-reporting>div .buddyboss-select{
    flex: 1 1 300px;
}
/* submit кнопка для селекта групп */
.uo-tclr-admin.uo-admin-reporting>div input[type="submit"]{    
    flex: 0 0 50px;
    line-height: 16px;
    margin-left: 3px;
}


/* / TinCan reporting стилизация вывода отчетов */


/**
* GamiPress стилизация 
*/
/* название уровня в виджете */
h2.gamipress-rank-title {
    font-size: 16px;
    font-weight: $font-weight-bold-heading;
}
/* количество монет в виджете */
span.gamipress-user-points-amount {
    margin: auto 15px;
    font-size: 16px;
    font-weight: $font-weight-bold-heading;
}
/* скрываем отображение монет и уровня из баннера личного профиля */
.gamipress-buddypress-points,
.gamipress-buddypress-ranks{
    display: none;
}
/* Вывод монет в шапке сайта */
#gamipress-points-in-header{
    display: inline-block;
    line-height: 74px;
/*    display: none; */
}
#gamipress-points-in-header img {
    vertical-align: middle;
    margin: 0 3px 0 15px;
}
.single-rank .gamipress-rank-image img.gamipress-rank-thumbnail.wp-post-image,
.single-achievement .gamipress-achievement-image img.gamipress-achievement-thumbnail.wp-post-image{
    max-width: 350px;
}
/* Вывод на странице статистики награждений - по шорткоду */
#gamipress-earnings-table img.gamipress-achievement-thumbnail.wp-post-image,
#gamipress-earnings-table img.gamipress-rank-thumbnail.wp-post-image{
    max-width: 50px;
}