/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 19, 2018, 6:52:48 PM
    Author     : Моргунов Виталий
*/

$main_color: #35c486; /* Главный цвет заменить им в последнюю очередь нижележащие совпадения */
$main_text_color: #6b6b6b; /* Главный цвет текста */
$main_header_color: #6b6b6b; /* Главный цвет заголовков */
$main_icons_color: #79d9b2; /* Главный цвет иконок в тексте */

/* Ссылки */
$main_link_color: #1876c1; /* #2196f3; #58a1da*/
$main_link_hover_color: #2196f3;/*#6fbaf7; #58a1da  */

/* Светлый фон */
$light_background_color: #fafafa; 
$light_background_text_color: #16ac79;

/* Темный акцентный фон */
$dark_background_color: #16ac79;
$dark_background_hover_color: #139c6e;
$dark_background_text_color: #fff;

/* Кнопки */
$main_button_color: #35c486;
$main_button_text_color: #fff;
$main_button_hover_color: #16ac79;
$main_button_hover_text_color: #fff;

/* Таблицы */
$main_table_header_color: #6dd7a2; /*  #c7f3d4 */
$main_table_header_text_color: #fff;
$main_table_header_link_color: #fff;
$main_table_header_link_hover_color: #fff; /* #35c486; */

/* Навигация */
/* Главная страница курса */
/* Баннер */
$course_banner_color: #fff;
$course_banner_text_color: #fff; /* $main_text_color */
$course_banner_link_color: $main_link_color;
$course_banner_link_hover_color: $main_link_hover_color;
$course_banner_tags_color: #fff; /* $alternative_button_color */
/* BuddyPanel */
$main_nav_color: #35c486;
$main_nav_text_color: #fff;
$main_nav_hover_color: #27b980;
$main_nav_hover_color2: #16ac79;
$main_nav_hover_text_color: #ffffffcf;
$dark_icon_color: #1e8a65;
$light_icon_color: #35c486;

$main_sub_nav_color: #35c486;
$main_sub_nav_text_color: #fff;
$main_sub_nav_hover_color: #27b980;
$main_sub_nav_hover_text_color: $main_sub_nav_text_color;

/* Навигация правого блока */
$main_right_sub_nav_color: #fff;
$main_right_sub_nav_text_color: #6b6b6b;
$main_right_sub_nav_hover_color: #c7f3d4;
$main_right_sub_nav_hover_text_color: #27b980;

/* ByddyPress */
$bp_link-color: #999;
$bp_link-hover-color: #35c486;
$bp_link-active-color: #16ac79;
$bp_navbar_color: #16ac79;
$bp_user-banner-color: #436990;
$bp_counter-color: #6dd7a2;

/*  
* Альтернативный цвет 
*/
$alternative_color: #09729e;  /* #507abc #1876c1 */
$alternative_text_color: #999; 

/* Ссылки */
$alternative_link_color: #35c486; 
$alternative_link_hover_color: #1e8a65; 

/* Кнопки */
$alternative_button_color: #2c82c6; /* #03a9f4 #4d96cf; #2196f3 */
$alternative_button_text_color: #fff;
$alternative_button_hover_color: #3171a5; /* #2196f3; */
$alternative_button_hover_text_color: $alternative_button_text_color;

/* Яркая кнопка */
$bright_button_color: #b97ebb; /* #03a9f4 #4d96cf; #2196f3 */
$bright_button_text_color: #fff;
$bright_button_hover_color: #966498; /* #2196f3; */
$bright_button_hover_text_color: $bright_button_text_color;

/* Таблицы внутренние заголовки структуры курсов */
$alternative_table_header_color: #edfaf4;
$alternative_table_header_text_color: #7a8488; 
$alternative_table_header_link_color: #c7f3d4;
$alternative_table_header_link_hover_color: #35c486;
$alternative_table_border_color: #e4e6e5;
/* Футер */
/* верхний */
$footer_top_color: #373838;
$footer_top_text_color: #b5b5b5;
$footer_top_link_color: #c7f3d4;
$footer_top_link_hover_color: #35c486;
/* нижний */
$footer_bottom_color: #2f2f2f;
$footer_bottom_text_color: #fff;
$footer_bottom_link_color: #c7f3d4;
$footer_bottom_link_hover_color: #35c486;

/* Сообщения фон */
$message_info: #27aeee; /* #2196f3 */
$message_error: #ee277c;
$message_success: #35c486;
$message_warning: #35c486;
$message_text: #ffffff;

/* Календарь */
$calendar_link: #1876c1;
$calendar_link_hover: #1876c1;